<launch>

    <arg name="robot_type" default="a1"/>

    <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/robot.xacro
       robot_type:=$(arg robot_type)
    "/>

    <rosparam file="$(find legged_unitree_hw)/config/$(arg robot_type).yaml" command="load"/>

    <param name="robot_type" value="$(arg robot_type)"/>
    <node name="ylo2_legged_hw" pkg="ylo2_legged_hw" type="ylo2_legged_hw" respawn="false"
          clear_params="true"/>

</launch>
